<IfModule mod_headers.c>
	Header always set X-Content-Type-Options nosniff
	Content-Security-Policy: script-src 'self' https://audit-three.vercel.app/
	Header always append X-Frame-Options SAMEORIGIN
</IfModule>

ExpiresDefault "access plus 1 month"